<header class="main-header">

    <!-- Logo -->
    <a href="" class="brand-link">
        <!-- logo for regular state and mobile devices -->
        <span class="brand-text font-weight-light text-center">
            <h3>ATN Store</h3>
        </span>
    </a>
    <br>

</header>
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <a href="" class="brand-link">
                <h1 class="text-center text-light">Admin Page</h1>
            </a>

            <li>
                <a href="/products/index">
                    <span>Product management</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <hr>

            <li>
                <a href="/categories/index">
                    <span>Category management</span>
                    <span class="pull-right-container">
                    </span>
                </a>
            </li>

            <hr>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>

<!-- Breadcrumd Wrapper. Contains breadcrumb -->
<div class="breadcrumb-wrap content-wrap content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">

    </section>
</div>